<!-- -# - provide(:title, "About")
-# %h1 About
-# %p The about page of
-# %p
-#   %a{:href => "http://www.railstutorial.org/"} Rails Tutorial
-# %p sample app -->
<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The about page of <a href="http://www.railstutorial.org/">Rails Tutorial</a>
  sample app
</p>
