%footer.footer
  %small Page by&nbsp;
  %small
    %a{:href => "http://www.github.com/pnikrat"} Przemysław Nikratowicz
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li
        %a{:href => "http://news.railstutorial.org"} Tutorial News
